html {
    position: relative;
    min-height: 100%;
}
body {
     margin: 0 0 60px;
}
footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    overflow: hidden;
    height: 60px;
}
header {
    height: 60px;
}
.bold {
    font-weight: 700;
}
.medium-bold {
    font-weight: 500;
}
.m-0 {
    margin: 0;
}
.p-0 {
    padding: 0;
}
.p-b-0 {
    padding-bottom: 0;
}
.p-t-0 {
    padding-top: 0;
}
.p-r-0 {
    padding-right: 0;
}
.p-t-2 {
    padding-top: 2px;
}
.p-t-3 {
    padding-top: 3px;
}
.p-b-3 {
    padding-bottom: 3px;
}
.p-t-5 {
    padding-top: 5px;
}
.p-t-10 {
    padding-top: 10px;
}
.p-t-30 {
    padding-top: 30px;
}
.p-t-100 {
    padding-top: 100px;
}
.p-b-10 {
    padding-bottom: 10px;
}
.m-b-250- {
    margin-bottom: -250px;
}
.p-l-0 {
    padding-left: 0;
}
.p-l-5 {
    padding-left: 5px;
}
.p-l-10 {
    padding-left: 10px;
}
.p-l-15 {
    padding-left: 15px;
}
.m-l-25 {
    margin-left: 25px;
}
.m-l-15 {
    margin-left: 15px;
}
.m-l-0 {
    margin-left: 0;
}
.m-l-5 {
    margin-left: 5px;
}
.m-l-10 {
    margin-left: 10px;
}
.m-r-10 {
    margin-right: 10px;
}
.m-r-20 {
    margin-right: 20px;
}
.m-b-5 {
    margin-bottom: 5px;
}
.m-b-10 {
    margin-bottom: 10px;
}
.m-b-15 {
    margin-bottom: 15px;
}
.m-b-25 {
    margin-bottom: 25px;
}
.m-t-5 {
    margin-top: 5px;
}
.m-t-10 {
    margin-top: 10px;
}
.m-t-15 {
    margin-top: 15px;
}
.plain-link:link, .plain-link:visited {
    text-decoration: none;
    color: black;
}
.plain-link:hover, .plain-link:active {
    text-decoration: none;
    color: gray;
}
.img-50per {
    max-width: 50%;
    height: auto;
}
.img-20per {
    max-width: 20%;
    height: auto;
}
.h-15 {
    min-height: 15px;
}
.h-10 {
    min-height: 10px;
}
.w-10 {
    min-width: 10px;
}
.w-15 {
    min-width: 15px;
}
.max-w-15 {
    max-width: 15px;
}
.display-block {
    display: block;
}
.display-inline-block {
    display: inline-block;
}
.space {
    height: 15px;
    display: block;
    width: 100%;
}
.color-gray {
    color: #999c9f;
}
.home-coordinate-nav {
    background-color: midnightblue;
    color: white;
}
.coordinate-nav {
    background-color: #ffdf2f;
    color: black;
}
.decoration-none {
    text-decoration: none;
}
.link-decoration-none, .link-decoration-none:link, .link-decoration-none:hover {
    text-decoration: none;
}
.dark-red {
    color: #dc2300;
}
.red {
    color: red;
}
.green {
    color: green;
}
.blue {
    color: blue;
}
.dark-blue {
    color: #000080;
}
.gray {
    color: #666666;
}
.light-blue {
    background-color: #e6e6ff;
}
.pink-background {
    background-color: #ffcccc;
}
.blue-background {
    background-color: #cce6ff;
}
.gray-background {
    background-color: #b3b3b3;
}
.yellow-background {
    background-color: #ffffcc;
}
.green-background {
    background-color: #b3ffb3;
}
.content-center {
    text-align: center;
}
.hidden {
    display: none;
}
.small-nr-input {
    width: 65px;
    height: 35px;
}
.right {
    position: absolute;
    text-align: right;
}
.left {
    position: absolute;
    text-align: left;
}
.center {
    position: absolute;
    text-align: center;
}
.line-through {
    text-decoration: line-through;
}
.justify {
    text-align: justify;
}
.underline {
    text-decoration: underline;
}
.text-indent {
    text-indent: 30px;
}
.calendar {
    padding: 0;
}
.square {
    min-height: 80px;
    padding: 5px;
    font-size: 11px;
    border: 1px solid white;
}
.light-gray-background {
    background-color: #eeeeee;
}
.purple {
    color: purple;
}
.message-border {
    border: 1px solid #dddddd;
    border-radius: 20px;
}
.f-10 {
    font-size: 10px;
}
.f-10 {
    font-size: 10px;
}
.f-12 {
    font-size: 12px;
}
.f-14 {
    font-size: 14px;
}
.f-16 {
    font-size: 16px;
}
.bg-container {
    background-color: #167bf0 !important;
}