{% extends "my_messages/base.html" %}

{% block content %}

<div class="container m-t-15">
    <div class="row">
        <div class="col-lg-10 mx-auto">
              <span class="float-right">
                  <a class="link-decoration-none" href="{% url 'my_messages:add_message' %}">
                      <button class="btn btn-success m-b-10">Add</button>
                  </a>
              </span>
            {% for message in messages %}
            <h4>{{ message }}
                {% if user in message.editors.all %}
                <a class="link-decoration-none" href="{% url 'my_messages:edit_message' message.id %}">
                    <button class="btn btn-warning">Change</button>
                </a>
                {% endif %}
                {% if message.user == user %}
                <a class="link-decoration-none" href="{% url 'my_messages:edit_message' message.id %}">
                    <button class="btn btn-warning">Change</button>
                </a>
                <a class="link-decoration-none"
                   href="{% url 'my_messages:delete_message' message.id %}" onclick="return confirm('Are you sure?')">
                    <button class="btn btn-danger">Remove</button>
                </a>
                <a class="link-decoration-none" href="{% url 'my_messages:message_editors' message.id %}">
                    <button class="btn btn-info">Editors</button>
                </a>
                {% endif %}
            </h4>
            <span class="small">{{ message.date }}</span>
            <p class="m-t-10">{{ message.content }}</p>
            <div class="text-right">~{{ message.user }}</div>
            <hr/>
            {% endfor %}
            <br/>
        </div>
    </div>
</div>

{% endblock %}