<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
    {% load staticfiles %}

    {% block extra_head_base %}
    {% block extra_head %}{% endblock %}
    {% endblock %}

    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/scrolling-nav.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body id="page-top">

{% include "my_messages/includes/header.html" %}

{% if request.get_full_path == "/messages/" %}
<header class="bg-container text-white text-center">
    <h2>Messages</h2>
</header>
{% endif %}

<br/>

<div class="">
    {% block content %}
    {% endblock %}
</div>

<footer class="bg-dark">
    <div class="container">
        <p class="m-t-15 text-center text-white f-14">Copyright &copy; Ewelina Ruchlewicz 2019</p>
    </div>
</footer>

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/scrolling-nav.js' %}"></script>

{% block extra_body_base %}
{% block extra_body %}{% endblock %}
{% endblock %}

</body>
</html>