{% extends "my_messages/base.html" %}

{% block content %}
<section class="p-b-10" id="login">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">

                <h2>Login</h2>
                <hr/>
                <br/>
                <form action="" class="form-horizontal" method="post" role="form">
                    {% csrf_token %}
                    {% include 'my_messages/includes/form_template.html' %}

                    <div class="form-group">
                        <div class="p-l-5 offset-lg-3 col-lg-10 offset-sm-3 col-sm-9">
                            <button class="btn btn-primary" id="login_btn" type="submit">Login</button>
                        </div>
                    </div>
                </form>
                <br/><br/>
            </div>
        </div>
    </div>
</section>

{% endblock %}