{% extends "my_messages/base.html" %}

{% block content %}
<section id="registration">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">

                <h2>Change editors</h2>
                <hr/>
                <br/>
                <form action="" class="form-horizontal" method="post" role="form">
                    {% csrf_token %}
                    {% include 'my_messages/includes/form_template.html' %}

                    <div class="form-group">
                        <div class="p-l-5 offset-lg-3 col-lg-9 offset-sm-5 col-sm-7">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>

{% endblock %}