{% load widget_tweaks %}
{% for field in form %}
<div class="form-group row">
    <label class="medium-bold col-form-label col-xs-12 col-sm-3 col-lg-3">{{ field.label_tag }}</label>
    <div class="col-xs-12 col-sm-7 col-lg-5">
        {{ field|attr:"class:form-control" }}
    </div>
    <span class="text-danger small">{{ field.errors }}</span>
    <span class="offset-lg-3 offset-sm-5 f-10 gray p-l-15">{{ field.help_text }}</span>
</div>
{% endfor %}